@model war3playground.Models.LiveStreamsPage
@{
    ViewBag.Title = Model.Title;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <h1>@Model.Title</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <p>Külföldi és magyar streamerek, kövessétek őket, figyeljetek és tanuljatok!</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <h2>Pro player</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-6 shadow-sm">
                        <iframe src="https://player.twitch.tv/?channel=followgrubby" frameborder="0" allowfullscreen="true" scrolling="no" style="height: 225px; width: 100%; display: block;"></iframe>
                        <div class="card-body">
                            <h4>Grubby</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm"><i class="fa fa-2x fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card mb-6 shadow-sm">
                        <iframe src="https://player.twitch.tv/?channel=tod" frameborder="0" allowfullscreen="true" scrolling="no" style="height: 225px; width: 100%; display: block;"></iframe>
                        <div class="card-body">
                            <h4>ToD</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm"><i class="fa fa-2x fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row justify-content-center">
        <div class="col-sm-12">
            <h2>Egy kis hazai</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-6 shadow-sm">
                        <iframe src="https://player.twitch.tv/?channel=crrpt86" frameborder="0" allowfullscreen="true" scrolling="no" style="height: 225px; width: 100%; display: block;"></iframe>
                        <div class="card-body">
                            <h4>Crrpt</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm"><i class="fa fa-2x fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card mb-6 shadow-sm">
                        <iframe src="https://player.twitch.tv/?channel=agalord" frameborder="0" allowfullscreen="true" scrolling="no" style="height: 225px; width: 100%; display: block;"></iframe>
                        <div class="card-body">
                            <h4>Agalord</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm"><i class="fa fa-2x fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
